<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LearnersAcademy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ValidateUser</display-name>
    <servlet-name>ValidateUser</servlet-name>
    <servlet-class>com.learnersacademy.admin.ValidateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateUser</servlet-name>
    <url-pattern>/ValidateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDao</display-name>
    <servlet-name>AdminDao</servlet-name>
    <servlet-class>com.learnersacademy.admin.dao.AdminDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDao</servlet-name>
    <url-pattern>/AdminDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.learnersacademy.admin.dto.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>com.learnersacademy.admin.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlet</display-name>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>com.learnersacademy.admin.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentServlet</display-name>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>com.learnersacademy.admin.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/DeleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignClassServlet</display-name>
    <servlet-name>AssignClassServlet</servlet-name>
    <servlet-class>com.learnersacademy.admin.AssignClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignClassServlet</servlet-name>
    <url-pattern>/AssignClassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubjectServlet</display-name>
    <servlet-name>AddSubjectServlet</servlet-name>
    <servlet-class>com.learnersacademy.admin.AddSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubjectServlet</servlet-name>
    <url-pattern>/AddSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSubjectServlet</display-name>
    <servlet-name>EditSubjectServlet</servlet-name>
    <servlet-class>com.learnersacademy.admin.EditSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSubjectServlet</servlet-name>
    <url-pattern>/EditSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSubjectServlet</display-name>
    <servlet-name>DeleteSubjectServlet</servlet-name>
    <servlet-class>com.learnersacademy.admin.DeleteSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubjectServlet</servlet-name>
    <url-pattern>/DeleteSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignSubjectServlet</display-name>
    <servlet-name>AssignSubjectServlet</servlet-name>
    <servlet-class>com.learnersacademy.admin.AssignSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignSubjectServlet</servlet-name>
    <url-pattern>/AssignSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddnewClass</display-name>
    <servlet-name>AddnewClass</servlet-name>
    <servlet-class>com.learnersacademy.admin.AddnewClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddnewClass</servlet-name>
    <url-pattern>/AddnewClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignSubjectTeacherClass</display-name>
    <servlet-name>AssignSubjectTeacherClass</servlet-name>
    <servlet-class>com.learnersacademy.admin.AssignSubjectTeacherClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignSubjectTeacherClass</servlet-name>
    <url-pattern>/AssignSubjectTeacherClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacherServlet</display-name>
    <servlet-name>AddTeacherServlet</servlet-name>
    <servlet-class>com.learnersacademy.admin.AddTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherServlet</servlet-name>
    <url-pattern>/AddTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTeacherServlet</display-name>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <servlet-class>com.learnersacademy.admin.DeleteTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <url-pattern>/DeleteTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTeacherDetails</display-name>
    <servlet-name>UpdateTeacherDetails</servlet-name>
    <servlet-class>com.learnersacademy.admin.UpdateTeacherDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeacherDetails</servlet-name>
    <url-pattern>/UpdateTeacherDetails</url-pattern>
  </servlet-mapping>
</web-app>